.imagen{
    height: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.botonReg{
    width: 20px;
}


.slideImagenes{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.lista{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
