.imagen{
    height: 35%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center; 
}



.botones{
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.labelprincipal{
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center; 
}


