<ion-header [translucent]="true">
  <ion-toolbar  color="tertiary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" [fullscreen]="true">

  <img  class="imagen" src="./assets/img/peli.png">
  <ion-label class="labelprincipal">¡Bienvenido a MoviReseña!</ion-label>

  <ion-label class="labelprincipal">En esta aplicación podras ver y <br>escribir reseñas de peluculas</ion-label>

  <div class="row mt-4 botones">
    <ion-button  color="primary" class="col-5" shape="round" fill="outline">Registrarte</ion-button>
    <ion-button class="col-5" shape="round" fill="outline">Iniciar sesión</ion-button>
  </div>


 
  
</ion-content>
