<ion-header [translucent]="true">
  <ion-toolbar  color="tertiary">
    <ion-title>
      Registro de peliculas
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="secondary"  [fullscreen]="true">

  <img  class="imagen" src="./assets/img/palomitas.png">

  <form class="mt-5 col-11 formulario">
    
    <ion-item color="success" class="mt-5">
      <ion-label >Nombre de la peliula:</ion-label>
      <ion-input type="text" name="title"></ion-input>
    </ion-item>

    <ion-item color="success">
      <ion-label>Año de estreno:</ion-label>
      <ion-input name="description"></ion-input>
    </ion-item>
    <ion-item color="success">
      <ion-label>Genero:</ion-label>
      <ion-input name="description"></ion-input>
    </ion-item>

    <ion-item color="success">
      <ion-label>Calificación:</ion-label>
      <ion-input name="description"></ion-input>
    </ion-item>


    <ion-item color="success">
      <ion-label>Sinopsis:</ion-label>
      <ion-textarea name="description"></ion-textarea>
    </ion-item>
    <ion-button type="submit" class="botonGuardar col-5 mt-5" shape="round" fill="outline">Guardar</ion-button>
  </form>
  
 
</ion-content>
